<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiudian.mapper.LoginuserMapper">

	
	
	<select id="findLoginuserList" 
		resultType="Loginuser">
		select * from loginuser 
	</select>
	
	<select id="query" parameterType="java.util.Map" resultType="Loginuser">
		select * from loginuser u
		<where>
			<if test="username!=null and username!=''">
			   and u.username= #{username}
			</if>
			<if test="pwd!=null and pwd!=''">
			   and u.pwd= #{pwd}
			</if>
		</where>
	</select>
	
	
	<select id="queryLoginuserById" parameterType="int" resultType="Loginuser">
		select * from loginuser where id=${value}
	</select>
	
	<select id="queryLoginuserByusername" parameterType="String" resultType="Loginuser">
		select * from loginuser where username=${username}
	</select>

	<insert id="insertLoginuser" useGeneratedKeys="true" keyProperty="id" parameterType="Loginuser">
		insert into loginuser
		(username,pwd,name,telphone,email)
		values
		(#{username},#{pwd},#{name},#{telphone},#{email});
	</insert>
	
	<update id="updateLoginuser" parameterType="Loginuser" >
		update loginuser set
		username=#{username},pwd=#{pwd},name=#{name},pwd=#{pwd},telphone=#{telphone},email=#{email}
		where
		id=#{id}	
	</update>
	
	<delete id="deleteLoginuser" parameterType="int">
	    delete from  loginuser where id=${value}
	</delete>

	<select id="queryLoginuserByUsername" parameterType="loginuser" resultType="loginuser">
 	select * from loginuser where username=#{username} 
 	</select>

</mapper>
